

.navbar-nav {
    margin-left: 35%;
}

header {
    background-color: darkolivegreen;
}
.boton-nav{
    margin-right: 30%;
}
.titulo {
    color: whitesmoke;
    padding: 5%;
    font-size: 500%;
}

.principal {
    background-color: darkgreen;
    padding: 10%;
}
.imagen-principal {
    width: 20%;
    float: left;
}
.p-principal{
    width: 70%;
}

.aventura {
    background-color: darkslateblue;
    padding: 5%;
}
.btn {

    margin-top: 5%;
    margin-bottom: 15%;
    margin-left: 40%;
    margin-right: 40%;
}
modal 
.modal-dialog  {
    margin-top: 0px;
    margin-bottom: 0px;
}
.modal-header-sm  {
    margin-top: 0.5%;
}
.juego {
    padding-left: 10%;
    margin-top: -2%;
    margin-bottom: -3%;
}

.bitacora {
    background-color: olivedrab;
    padding: 5%;
    padding-bottom: 15%;
}
.imagen-bitacora-1 {
    width: 10%;
    float: left;
}
.imagen-bitacora-2 {
    width: 10%;
    float: left;
}
.imagen-bitacora-3 {
    width: 10%;
    float: left;
}
.imagen-bitacora-4 {
    width: 10%;
    float: right;
}
.imagen-bitacora-5 {
    width: 10%;
    float: right;
}
.imagen-bitacora-6 {
    width: 10%;
    float: right;
}
.imagen-bitacora-7 {
    width: 25%;
    float: left;
}
.conclusion {
    margin-top: 5%;
}

footer {
    background-color: darkblue;
    padding-bottom: 25%;
}

.titulo-bitacora {
    color: whitesmoke;
    margin-bottom: 5%;
}
p {
    color: whitesmoke;
}